<div class="row article-row">
		<div class="votes">
			<div class="value">
				{{ article.votes }}
			</div>
			<div class="label">
				Points
			</div>
		</div> 
		<div class="info">
			<a class="link-header" href="{{article.link}}">{{article.title}}</a>
			<div class="meta">({{ article.domain() }})</div>
			<ul class="voters">
				<li class="voter">
					<a href (click)="voteUp()">
						<img [src]='arrowUp'>
						upvote
					</a>
				</li>
				<li class="voter">
					<a href (click)="voteDown()">
						<img [src]='arrowDown'>
						downvote
					</a>
				</li>
			</ul>
		</div>

</div>