/*---------------- BASIC----------------*/

html {
  font-size: 16px;
}

body {
  font-size: 92.5%;
  font-family: 'Open Sans', sans-serif;
  background-color: #151515;
  color: #FFF;
}




/*---------------- HEADER----------------*/

header {
  background-color: #000;
  text-align: center;
  height: 80px;
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
  color: #30CE4A;
}

header h2 {
  font-size: 1.8em;
  padding-top: 5px;
}


/*---------------- FORM----------------*/

form {
  width: 80%;
  margin: 20px auto;
  border-radius: 15px;
  text-align: center;
}
.form-group {
  margin-bottom: 0;
}

form h3 {
  padding-top: 20px;
  color: #AAA;
}

form .row {
  display: flex;
  justify-content: center;
  align-items: center; 
}

label {
  font-weight: normal;
  letter-spacing: .1em;
}

form input {
  background-color: #333;
  border: none;
  width: 70%;
  margin: 10px;
  padding: 6px 12px;
  color: #FFF;
  border-radius: 5px;
}

form .btn {
  margin: 10px;
} 


/*---------------- ARTICLES----------------*/

.article-row {
  padding: 10px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  display: flex;
}

.article-row:hover {
  background-color: #000;
  cursor: default;
}

.votes {
  background-color: #30CE4A;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5px;
}

.votes .value {
  font-size: 3.4em;
}

.votes .label {
  font-size: 1.2em;
}

.info {
  margin-left: 30px;
  height: 100px;
  position: relative;
}

.info a {
  color: #30CE4A;
}

.info a:hover {
  color: #30EE4A;
  text-decoration: none;
}

.info a:active {
  text-decoration: none;
}

.info .link-header {
  font-size: 1.8em;
}

.voters {
    position: absolute;
    bottom: 1px;
    display: flex;
}

.voter {
  list-style: none;
}

.voter a {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.voter a img {
  margin-right: 5px;
}

.voter img {
  height: 10px;
}

.meta {
  color: #AAA;
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 15px;
  }
  .votes {
    width: 90px;
    height: 90px;
  }
  .info {
    height: 90px;
  }
}


@media screen and (max-width: 991px) {
  html {
    font-size: 14px;
  }
  .article-row {
    width: 80%;
  }
}


@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
  }
  header h2 {
    font-size: 1.4em;
  }
  form {
    width: 100%;
  }
  form .btn {
    font-size: 1.2em;
  }
  .article-row {
    width: 80%;
  }
  .votes {
    width: 80px;
    height: 80px;
  }
  .info {
    height: 80px;
  }
}

@media screen and (max-width: 551px) {
  html {
    font-size: 12px;
  }
  form input {
    width: 60%;
    margin: 5px;
  }
  form .btn {
    font-size: 1.0em;
    margin: 5px;
  }
  .article-row {
    margin: 0;
  }
  .votes {
    width: 70px;
    height: 70px;
  }
  .info {
    height: 70px;
  }
}

@media screen and (max-width: 449px) {
  html {
    font-size: 11px;
  }
  form input {
    width: 50%;
  }
}